.grid-container {
    margin: 20px;
  }
  
.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
  
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}
  
.dashboard-card-content {
    text-align: left;
}

.mat-h1 {
    text-align: center;
}

.card-actions {
 text-align: right;
}
  