<div class="grid-container" *ngIf="books">
    <h1 class="mat-h1">Browse Books</h1>
    <mat-grid-list [cols]="colNumber | async" rowHeight="400px">
      <mat-grid-tile *ngFor="let book of books" colspan="1" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{book.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item routerLink="/edit-book/{{ book.isbn }}">Edit</button>
                <button mat-menu-item (click)="removeBook(book.isbn)">Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <mat-list role="list">
                <mat-list-item role="listitem">Author: {{ book.author }}</mat-list-item>
                <mat-list-item role="listitem">ISBN: {{ book.isbn }}</mat-list-item>
                <mat-list-item role="listitem">Publisher: {{ book.publisher }}</mat-list-item>
                <mat-list-item role="listitem">Price: ${{ book.price }}</mat-list-item>
              </mat-list>
          </mat-card-content>
          <mat-card-actions class="card-actions">
            <button mat-raised-button (click)="createOrder(book)" color="primary">ORDER</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="grid-container" *ngIf="!books">
    <mat-spinner></mat-spinner>
</div>