<form (ngSubmit)="onButtonClicked()">
    <mat-card class="book-card">
        <mat-card-header>
          <mat-card-title>{{ titleText }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="ISBN" [(ngModel)]="book.isbn" name="isbn">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Title" [(ngModel)]="book.title" name="title">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Author" [(ngModel)]="book.author" name="author">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Publisher" [(ngModel)]="book.publisher" name="publisher">
                </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Price" type="number" [(ngModel)]="book.price" name="price">
                </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="primary" type="submit">{{ buttonText }}</button>
        </mat-card-actions>
      </mat-card>
</form>
